img {
  width: 100%;
  height: auto;
}

.portfolio {
  max-width: 900px;
  margin: 0 auto;
}

.filters {
  display: flex;
  margin-bottom: 10px;
}

.filters__item {
  background-color: white;
  border: 1px solid darkgray;
  padding: 5px 10px;
  cursor: pointer;
}

.filters__item_active {
  background-color: gray;
}

.filters__item:not(:last-child) {
  margin-right: 5px;
}

.projects {
  column-count: 3;
}

.projects__item {
  margin-bottom: 15px;
  margin-right: 0;
}
